
.persons {
	list-style-type: none;
}

.persons li {
	display: flex; /* or inline-flex */
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin-top: 10px;
}

.search {
	width: 50%;
	position: fixed;
	top: 10px;
	right: 10px;
}

.search input {
	width: 100%;
	font-family: 'Rock Salt';
	font-size: 22px;
}
