.person {
 	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.person .badge{
	width: 175px;
}
.person .year{
	width: 200px;
	background-color: lightgray;
	margin: 5px;
	height: 200px;
}
